<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Configurações específicas para Android TV -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="true" />
    <uses-feature android:name="android.hardware.type.television" android:required="true" />
    
    <!-- Orientação padrão para TV é landscape -->
    <application>
        <activity android:name=".MainActivity"
                  android:screenOrientation="landscape">
            
            <!-- Intent filter adicional para Android TV -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            
        </activity>
    </application>
    
</manifest>
